.profile-name {
    font-size: calc(50px + 2vmin);
    font-family: 'Sacramento',cursive;
    margin-top: 2rem;
}

.profile-description {
        font-size: calc(20px + 2vmin);
        font-family: 'Sacramento',cursive;
}
